/*<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>  copio de google font-->*/
.site-header {
    border-top: 2px solid #000000;
    border-bottom: 1px solid #ffffff;
    min-height: 60px;
    position:relative;
}
body {
    font-family: sans-serif;
    font-size: 14px;
   /* background-image: image ('media/IM03.jpg');*/
    padding: 20px 300px;
   /* background: url(../media/IM03.jpg) no-repeat bottom center scroll;*/
    
 

}
    
        
} 

/*copio de google font*/
/* {font-size:60px;}*/
        
h1 {color:#000000;} /*si lo selecciono puedo elegir un color*/

h2 {color:#000000;} /*si lo selecciono puedo elegir un color*/

h3 {color:#3bd6ca; font-size: 18px;} /*si lo selecciono puedo elegir un color*/

h4 {color:#b7e3e3; font-size: 18px;} /*si lo selecciono puedo elegir un color*/

h5 {color:#000000; font-size: 15px;} /*si lo selecciono puedo elegir un color*/


p {color:#626262;}

a { color: #000000; }

#test{font-size: 16px; color: #ffffff; background-color: #000000}

.myclass{font-size: 22px; color: #000000}

.post-link {text-decoration: none;}

